src/
test/
node_modules/
coverage/
tests/
.vscode/
.dockerignore
.gitignore
.npmrc
.prettierrc
.yarnrc
jest.config.jest
tsconfig.json
yarn.lock
.DS_Store
.editorconfig
jest.config.js
tslint.json
webpack.config.js
.circleci